################################################
# HPC job output logs
################################################
*.out
*.err
*.log
slurm-*.out
slurm-*.err

################################################
data/
results/

*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.sam
*.cram
*.bai
*.bed
*.vcf
*.vcf.gz

################################################
genome/*.fa
genome/*.fasta
genome/*.gtf
genome/*.gff
genome/*.idx
genome/*.fai

################################################
# Temporary / intermediate files
################################################
*.tmp
*.temp
*.bak
*.swp
*.swo

################################################
__pycache__/
*.pyc
*.rds
.Rhistory
.RData
.Rproj.user/

################################################
# Keep metadata + scripts + README tracked
################################################
!metadata/
!scripts/
!README.md
